*{
    margin: 0px;
    color: white;
    padding: 0px;
    background-color:rgb(72, 62, 62)
}
.page{
    display: flex;
}
img{
    width: 800px;
    height:800px;
}
form{
    width: 600px;
}
.right{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    gap: 20px;
    width: 100%;
    padding: 20px;
    margin-top:100px;
}
input{
    border: none;
    border-bottom: 2px solid rgb(27, 27, 27);
    padding: 20px;
    width: 60%;
    font-size: 22px;
}
input:focus{
    outline: none;
}
button{
    padding: 20px;
    width: 130px;
    height: 60px;
    border-radius:16px;
    color: yellow;
    background-color: rgb(37, 64, 37);
    font-size: 18px;
    text-align: center;;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
.error{
    display: flex;
    flex-direction: column;
    gap: 3px;
    color: red;
}